<!DOCTYPE html>
<html>
    <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <!--The container of react app-->
       <div id="root"></div>
    </body>
</html>
